body
{
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
text-align: right;
}

.google
{
    text-align: center;
    margin-top: 70px;
}

.logo
{
   height: 92px;
   width: 272px;

}

.recherche
{
 border: 1px solid;
 border-color: grey;
 border-radius: 60px;
 margin-left: 65px;
 margin-right: 65px;
 margin-top: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.barre
{
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
}

.loupe
{
    height: 25px;
    padding: 5px;

}

.rg
{
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px; 
    margin-left: 300px;
    margin-right: 300px;
}
.chance
{
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-left: 300px;
    margin-right: 300px;
}

.tourisme
{
    text-align: center;
}

.coq
{
    margin-top: 70px;
    border: 1px solid;
    border-color: #dadce0;
    background-color: #dadce0;
}

footer
{
    border: 1px solid;
    border-color: #dadce0;
    background-color: #dadce0;
}